@import 'tailwindcss';
@plugin "@tailwindcss/aspect-ratio";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-500: #fb3a5d;
  --color-brand-600: #e91546;
}
@layer base {
  /* :root {
    @apply font-sofia-pro text-black dark:text-white;
  } */

  html {
    @apply overflow-y-scroll;
  }

  body {
    @apply bg-gray-50;
    @apply dark:bg-black;
  }

  .menu-item {
    @apply m-2 block cursor-pointer rounded-lg px-2 py-1.5 text-sm text-gray-700 dark:text-gray-200;
  }

  .dropdown-active {
    @apply bg-gray-100 dark:bg-gray-800;
  }

  .divider {
    @apply border-b border-gray-200 dark:border-gray-700;
  }

  .linkify a {
    @apply text-brand-500;
    @apply hover:text-brand-600 dark:hover:text-brand-500;
  }

  .linkify-button button {
    @apply text-brand-500;
    @apply hover:text-brand-600 dark:hover:text-brand-500;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
